html, body {
	height: 100%;
}

body.homepage {
	background: #ddd url(../image/homeback.jpg) no-repeat
		left top;
	background-size: 100% 100%;
}

.contentBox {
	width: 1420px;
	margin: 30px auto 0px auto;
	height: 340px;
	border: solid 1px #bfcbd8;
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.08);
	background-color: #fff;
	display: -webkit-flex;
	display: flex;
}

.contentBox .Wbox {
	-webkit-flex: 1;
	flex: 1;
}

.contentBox .Wbox .pie_x {
	height: 340px;
}

.contentBox .Wbox.bxS {
	-webkit-flex: 1.3;
	flex: 1.3;
	box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.13);
	background-color: #faf4f4;
}

.box-x-auto {
	display: -webkit-flex;
	display: flex;
}

.box-x-auto .Wbox {
	-webkit-flex: 1;
	flex: 1;
}

.hzA {
	text-align: center;
	vertical-align: middle;
	color: #666;
	font-size: 16px;
}

.hzA dt {
	font-size: 36px;
	color: #c753a7;
}

.bxA {
	padding: 50px 10px;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.13);
	margin-bottom: 40px;
	background-color: #f4fdf5;
}

.bxA dt {
	font-size: 60px;
	color: #176dc7;
}

.b-r-1e {
	box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.13);
}

.box-x-auto .Wbox:first-child .hzA dt {
	color: #119f17;
}

.content {
	width: 100%;
	position: absolute;
	top: 50px;
	bottom: 0;
	overflow: hidden
}

.content .data {
	width: 320px;
	position: absolute;
	left: 10%;
	top: 33px
}

.content .data li {
	width: 318px;
	height: 58px;
	line-height: 58px;
	border: 1px solid #d1d1d1;
	text-align: center;
	font-size: 20px;
	color: #939393;
	font-family: Î¢ÈíÑÅºÚ;
	margin-bottom: 8px
}

.content .data li span {
	font-size: 25px;
	margin-left: 27px;
	color: #176dc7;
	font-weight: 700
}

.content .data li span i {
	font-size: 17px;
	margin-left: 7px;
	font-style: normal
}

.content .pie {
	width: 900px;
	height: 310px;
	position: absolute;
	right: 10%;
	top: 33px
}

.content .pie div {
	width: 400px;
	height: 310px;
	margin-left: 20px
}

.content .line {
	width: 100%;
	position: absolute;
	top: 50%;
	bottom: 0
}